.pagable-param {
}

.vanbanduthao {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0 3px 3px 3px;
  width: calc(100% - 2px);
}
.vanbanduthao h3.title {
  border-bottom: 1px solid #ddd;
  font: 700 15px/25px Roboto, Arial, Tahoma;
  color: #ed1c24;
  text-transform: uppercase;
  padding: 0 15px;
  background: #fff url(../images/bg-lts-vanban.png) repeat-x center bottom;
  padding: 8px 15px;
}
.vanbanduthao .le {
  background: #f7f7f7;
}
.vanbanduthaoitem {
  padding: 10px 15px;
  overflow: auto;
}
.vanbanduthaoitem div.title {
  margin-bottom: 10px;
}
.vanbanduthaoitem div.title a {
  color: #333;
  font: 700 15px/20px Roboto, Arial, Tahoma;
  text-align: justify;
  display: block;
}
.vanbanduthaoitem div.title span {
  font-size: 14px;
  font-style: italic;
  margin-left: 3px;
}
.vanbanduthaoitem div.title a:hover {
  color: #ed1c24;
}
.vanbanduthaoitem div.vbdt-info .total {
  padding-top: 3px;
}
.vanbanduthaoitem div.vbdt-info .total a.continue {
  float: right;
  font-size: 14px;
  font-style: italic;
  color: #0072c6;
}
a.vanbanlienquan {
  font-size: 11px;
  padding-right: 15px;
  color: #333;
}
.vanbanduthaoitem .desc {
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
  margin-bottom: 5px;
}
.vanbanduthaoitem div.vbdt-info span {
  font-size: 13px;
  font-style: italic;
  color: #be1e2d;
}
.vanbanduthaoitem a.vbdt-image {
  float: left;
  width: 200px;
  padding-right: 10px;
}
.vanbanduthaoitem a.vbdt-image img {
  width: 100%;
}
.vanbanduthaoDetail {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0 3px 3px 3px;
}
