          .vanbanduthaoitem a.vbdt-image {float: left;width: 100% !important; margin-right:20px; padding-right: 15px;}
           .vanbanduthaoitem a.vbdt-image img {width: 100%;}
           .vanbanduthaoitem div.title a {color: #333;font: 700 14px/18px Roboto,Arial,Tahoma; text-align:justify;display:block; text-decoration: none; padding-bottom: 10px;}
           .vanbanduthaoitem div.title a:hover{color: red;}
           .vanbanduthaoitem .desc {font-size: 13px;line-height: 18px;text-align: justify;margin-bottom: 5px; font-family:roboto,arial,tahoma;}
 .vanban{
 	display:grid;
 	grid-template-columns:25% 75% !important;
 	padding-bottom: 20px;
 }
